#contact-me {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;
  border-top: 3px solid var(--caribbeanGreen);
  border-bottom: 3px solid var(--floralWhite);
  align-items: flex-start;
}

.contact-me-text-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
}

.contact-me-text {
  text-align: center;
}

#mail-icon {
  cursor: pointer;
}
