#for-developers {
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;
  border-bottom: 3px solid var(--redSalsa);
  align-items: flex-end;
}

.for-developers-text-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
}

.for-developers-text {
  text-align: center;
}

#github-icon {
  cursor: pointer;
}
