header {
  background: rgb(0, 0, 0, 0.1);
  height: 3rem;
}

header nav {
  display: flex;
  justify-content: space-evenly;
}

.navigation-item {
  text-decoration: none;
  color: var(--floralWhite);
  font-weight: 800;
  font-size: 1.4rem;
  padding: 0.1em;
  margin: 0.3em;
}

.navigation-item:hover {
  color: var(--floralWhite);
}

#header-contact:after {
  content: "";
  display: block;
  border-bottom: 5px solid var(--redSalsa);
  width: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

#header-contact:hover:after {
  width: 100%;
}

#header-exercises:after {
  content: "";
  display: block;
  border-bottom: 5px solid var(--caribbeanGreen);
  width: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

#header-exercises:hover:after {
  width: 100%;
}

#header-italian-with-english:after {
  content: "";
  display: block;
  border-bottom: 5px solid var(--floralWhite);
  width: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

#header-italian-with-english:hover:after {
  width: 100%;
}
